@use './variables.scss' as *;
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: "Space Grotesk", sans-serif !important;
}

#app {
  height: 100%;
}
